<main>
    <h1>Para ONGs</h1>
    <p>ONG: Divulgue seus pets e peça doações que nós colocaremos no nosso site.
        Envie um e-mail com nome e telefone para iniciarmos o atendimento 
        <a href="mailto:divulgacaopetdauni@hotmail.com?
        subject=Sobre divulgação&
        body=Prezados, gostaria de saber como eu faço para...">
            divulgacaopetdauni@hotmail.com</a></p>
    <hr>
    
    <h1>Para dúvidas com adoções</h1>
    <p>Adotante: se você tem dúvidas, reclamações ou sugestões, entre em contato.
        Envie um e-mail com nome e telefone para iniciarmos o atendimento 
        <a href="mailto:petdauni@hotmail.com?
        subject=Sobre adoção&
        body=Prezados, gostaria de saber como eu faço para...">
        petdauni@hotmail.com</a></p>
</main>


<aside>
    <app-adoption-process-banner></app-adoption-process-banner> <!-- Associação com componente -->
    <div id="button-center">
        <button mat-raised-button color="primary" (click)="clearRouterLink()"> Conheça os Pets </button>
    </div>
</aside>