.banner {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas:
      "title image"
      "title image"
}
@media (max-width: 900px) {
.banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 2vw;
    row-gap: 2vw;

    grid-template-areas:
      "title"
      "image"
}
}
  
.title { 
    grid-area: title;
    margin: auto;
    padding: 0 2vw;
}
.title > h1 {
    font-size: 2.5em;
    line-height: 34pt;
}

.image {
    grid-area: image;
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("https://bompracachorro.blogfolha.uol.com.br/files/2019/01/img_3083-768x519.jpg");
}

/* Botão principal */
.button-primary {
    margin-top: 1rem;
    background-color: var(--blueStrong); /* usando a variável global para aplicar cor padrão */
    color: #fff;
}
.button-primary:hover {
    opacity: 0.85;
}
.button-center {
    text-align: center;
    margin: 4vw 0;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
}