<main>
    <h1><strong>Conheça seu próximo amigo</strong> e adote um pet</h1>

    <div class="align-center-grid">
        <div class="grid-container-images">
            <div *ngFor="let index of ELEMENT_DATA_PET; index as i">

                <a routerLink="pets/{{ELEMENT_DATA_PET[i].id}}">
                   <img class="image" src="{{ELEMENT_DATA_PET[i].image}}" alt="{{ELEMENT_DATA_PET[i].name}}">
                    <div class="caption"> <div class="caption-title"><strong> {{ ELEMENT_DATA_PET[i].name }} </strong></div> </div>
                </a>
            </div>
        </div>
    </div>
    
</main>

<aside>
    <app-adoption-process-banner></app-adoption-process-banner> <!-- Associação com componente -->
</aside>