<main>
    <div class="grid-container-images">
        <img class="image" src="{{ELEMENT_DATA_PET.image}}" alt="{{ELEMENT_DATA_PET.name}}" loading="lazy" fetchpriority="low"> <!-- Tags HTML 5 loading e fetchpriority para acelerar performance (velocidade) -->
        <div id="container-list">
            <h1>{{ ELEMENT_DATA_PET.name }}</h1>
            <button mat-raised-button color="primary" id="button-cta" (click)="openDialog()"> Adotar </button><br/>
            ONG: {{ELEMENT_DATA_PET.nameOng}}<br/>
            <ul>
                <li><span class="bold">Porte</span>: {{ELEMENT_DATA_PET.size}} <br/></li>
                <li><span class="bold">Gênero</span>: {{ELEMENT_DATA_PET.gender}} <br/></li>
                <li><span class="bold">Saúde</span>: {{ELEMENT_DATA_PET.health}} <br/></li>
                <li><span class="bold">Temperamento</span>: {{ELEMENT_DATA_PET.temperament}} <br/></li>
            </ul>
        </div>
    </div>
</main>

<aside>
    <div class="dimension-banner">
        <app-mini-banner [url]="'/doacao'" [title]="'Doar mantimentos'" [description]="'Ajude com rações, medicamentos, materiais de limpeza etc'"
        backgroundImage="../../../../assets/heart.png"></app-mini-banner> <!-- Associação com componente -->
    </div>

    <div class="button-center" >
        <button mat-stroked-button color="primary" class="button-white" (click)="scrollToTop()" (click)="clearRouterLink()"> Conheça os Pets </button>
    </div>

    <app-adoption-process-banner></app-adoption-process-banner> <!-- Associação com componente -->
    <div class="button-center" >
        <button mat-stroked-button color="primary" (click)="scrollToTop()" (click)="clearRouterLink()"> Conheça os Pets </button>
    </div>
</aside>