aside {
    margin-top: 40px;
    z-index: 999;
}
h1 {
    font-weight: 600;
}
.bold {
    font-weight: bold;
}
#container-list {
    margin: 10vh 0 2vh 1vh;
    line-height: 2rem;
}
@media (max-width: 900px) {
#container-list {
    margin: 1vh;
    line-height: 2rem;
}
}
.grid-container-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: left;
    gap: 45px 10px;
}
@media (max-width: 1200px) {
.grid-container-images {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 800px) {
.grid-container-images {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 0;
}
}

.image {
    border-radius: 0 0 5% 0;
    object-fit: cover;
    width: 600px;
    height: auto;
}
@media (max-width: 900px) {
.image {
    width: 100%;
    height: auto;
}
}
.button-center {
    text-align: center;
    margin: 4vw 0;
}

#button-cta {
    width: 100%;
}
@media (max-width: 900px) {
#button-cta {
    width: 100%;
}
}
.button-white {
    background-color: #eaeaea;
}

.dimension-banner {
    width: 320px;
    margin: auto;
}

li {
    list-style-type: circle;
}