<div id="cookies-modal">
    <h1>Política de privacidade</h1>

    <p>
    A proteção dos seus dados pessoais são respeitados em nosso site, de acordo com essa política de privacidade.
    </p>
    <p>
    Durante o processo de navegação e preenchimento de cadastros e formulários, suas informações serão armazenadas em nosso banco de dados e utilizadas apenas para o fim a que se destinam. Essas informações não serão vendidas, trocadas ou concedidas para nenhuma outra pessoa física ou jurídica.
    </p>
    <p>
    Utilizamos cookies e coletamos informações de navegação em nosso site para traçar o perfil dos usuários e aperfeiçoar a usabilidade do mesmo. Essas informações também nos ajudam a aperfeiçoar nossos conteúdos e ofertas para você.
    </p>
    <p>
    Com a presente política de privacidade, o usuário, desde já, aceita receber comunicações como e-mail marketing e anúncios personalizados.
    </p>
    <p>
    Essa política de privacidade pode ser atualizada periodicamente e sem aviso prévio. As alterações entram em vigor imediatamente após a publicação da nova política de privacidade.
    </p>
    <p>
    Em caso de dúvidas, comentários sobre as informações contidas nessa política de privacidade, ou denúncias, entre em contato por meio do telefone <a href="tel:5551-90000-0000">+55 (51) 9 0000-0000</a>
    </p>
</div>