<main>
    <h1>Doação de mantimentos</h1>
    <p>Envie um e-mail diretamente para a instituição para combinar como você pode fazer a doação de rações, medicamentos etc.</p>

    <div id="table-grid">
        <div id="item1">
            <h2>Adote POA</h2>
            <p>Doe rações e medicamentos</p>
            <p><a href="mailto:adotepoa@hotmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                adotepoa@hotmail.com</a></p>
        </div>
        <div id="item2">
            <h2>Amigos não se compra</h2>
            <p>Doe materiais de limpeza </p>
            <p><a href="mailto:amigonaosecompra@gmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                amigonaosecompra@gmail.com</a></p>
        </div>
        <div id="item3">
            <h2>ONG Garra</h2>
            <p>Doe medicamentos </p>
            <p><a href="mailto:onggarra@yahoo.com.br?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                onggarra@yahoo.com.br</a></p>
        </div>
        <div id="item4">
            <h2>Acãochego</h2>
            <p>Doe rações </p>
            <p><a href="mailto:acaochego@hotmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                acaochego@hotmail.com</a></p>
        </div>
        <div id="item5">
            <h2>Adote pet</h2>
            <p>Doe medicamentos </p>
            <p><a href="mailto:adotepet@gmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                adotepet@gmail.com</a></p>
        </div>
        <div id="item6">
            <h2>Bicho de rua</h2>
            <p>Doe rações, medicamentos e materiais de limpeza </p>
            <p><a href="mailto:bichoderua@gmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                bichoderua@gmail.com</a></p>
        </div>
        <div id="item7">
            <h2>Adoção animal RS</h2>
            <p>Doe medicamentos </p>
            <p><a href="mailto:adocaoanimalrs@hotmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                adocaoanimalrs@hotmail.com</a></p>
        </div>
        <div id="item8">
            <h2>Porto Filhote</h2>
            <p>Doe rações </p>
            <p><a href="mailto:portofilhote@hotmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                portofilhote@hotmail.com</a></p>
        </div>
        <div id="item9">
            <h2>UNPE - Causa Animal <br/>do Bairro Sarandi</h2>
            <p>Doe rações </p>
            <p><a href="mailto:unpe@gmail.com?subject=Doação de mantimentos&body=Prezados, gostaria de saber como eu faço a doação de mantimentos">
                unpe@gmail.com</a></p>
        </div>

    </div>
</main>
<div id="button-center">
    <button mat-raised-button color="primary" (click)="scrollToTop()" (click)="clearRouterLink()"> Conheça os Pets </button>
</div>