<footer>
    <div id="left-text">
        <div class="list"> <a routerLink="catalog" class="left-text">Conheça os Pets </a> </div>
        <div class="list"> <a routerLink="doacao" class="left-text">Doar mantimentos </a> </div> 
    </div>
    <a routerLink="" (click)="scrollToTop()" id="logo-center"> <div id="logo" alt="Logo"></div> </a>
    <div id="right-text">
        <div class="list"> <a routerLink="ong" class="right-text"> Sou ONG </a> </div>
        <div class="list"> <a routerLink="ong" class="right-text"> Outros contatos </a> </div>
    </div>
</footer>