.banner {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 50%;
    margin: 2% auto;
    grid-template-areas:
      "image"
      "title";
    align-items: center; 
    filter: brightness(0);
}
a {
    text-decoration: none;
}
.banner:hover {
    opacity: 0.77;
}
  
.title { 
    grid-area: title;
    text-align: center;
    margin: auto;
}

.image {
    grid-area: image;
    width: 53px;
    height: 53px;
    margin: 40px auto 0;
    background-size: contain;
    background-repeat: no-repeat;
}